<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>review</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <h1>カスタマーレビュー</h1>
        <div class="sortEtc">
            <div>
                <span>並び替え：</span>
                <select name="reviewSort" id="reviewSort">
                    <option value="デフォルト">デフォルト</option>
                    <option value="評価が高い順">評価が高い順</option>
                    <option value="評価が低い順">評価が低い順</option>
                </select>
                <br><span>絞り込み：</span>
                <select name="starFilter" id="starFilter">
                    <option value="デフォルト">デフォルト</option>
                    <option value="星５">星５</option>
                    <option value="星４">星４</option>
                    <option value="星３">星３</option>
                    <option value="星２">星２</option>
                    <option value="星１">星１</option>
                </select>
            </div>
            <div class="analytics">
                <span>統計結果：</span>
                <div>
                    <dl>
                        <dt>20代</dt>
                        <dd>人</dd>
                    </dl>
                    <dl>
                        <dt>30代</dt>
                        <dd>人</dd>
                    </dl>
                    <dl>
                        <dt>40代</dt>
                        <dd>人</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div id="cards">
        </div>
        <script>
            // データ取得
            let users = JSON.parse('<%= JSON.stringify(users) %>'.replace(/&#34;/g, '"'));
            let newList = [];
            // DOMの取得
            let cards = document.querySelector('#cards');
            let starFilter = document.querySelector('#starFilter');
            let reviewSort = document.querySelector('#reviewSort');
            // 評価値のソート機能
            function reviewSortFunc() {
                if (reviewSort.value === "デフォルト") {
                }
                if (reviewSort.value === "評価が低い順") {
                }
                if (reviewSort.value === "評価が高い順") {
                }
                newList = []
                users.forEach(user => newList.push(user))
                listToDom()
            }
            // 評価値の絞り込み
            function starFilterFunc() {
                console.log(users.filter(user => user.rating === 5))
                if (starFilter.value === "デフォルト") {
                }
                if (starFilter.value === "星５") {
                    users.filter(user => user.rating === 5);
                }
                if (starFilter.value === "星４") {
                    users.filter(user => user.rating === 4);
                }
                if (starFilter.value === "星３") {
                    users.filter(user => user.rating === 3);
                }
                if (starFilter.value === "星２") {
                    users.filter(user => user.rating === 2);
                }
                if (starFilter.value === "星１") {
                    users.filter(user => user.rating === 1);
                }
                newList = []
                users.forEach(user => newList.push(user))
                listToDom()
            }
            // DOMに表示
            function listToDom() {
                cards.innerHTML = '';
                newList.forEach(user => {
                    cards.insertAdjacentHTML('beforeend', `
                    <div class="card">
                        <div class="star">
                            <img class="star_img" src="/img/re.svg" alt="">
                            <span>${user.rating}</span>
                        </div>
                        <div class="reason">
                            <span>${user.reason}</span>
                        </div>
                        <div class="person">
                            <p>（<span>${user.username}</span>／<span>${user.age}</span>）</p>
                        </div>
                    </div>
                    `)
                })
            }
            window.addEventListener('load', reviewSortFunc)
            reviewSort.addEventListener('change', reviewSortFunc);
            starFilter.addEventListener('change', starFilterFunc);
        </script>
    </body>
</html>
