body {
  max-width: 600px;
  padding: 1rem;
  margin: auto;
}

p,
dl {
  margin: 0;
}

.sortEtc{
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}
select {
  font-size: 1rem;
  width: 8rem;
}
select:not(:last-child) {
  margin-bottom: 1.25rem;
}
.analytics {
  display: flex;
}
dl {
  display: flex;
}
dl:nth-child(2n-1) {
  background-color: #ebe;
}
dl:nth-child(2n) {
  background-color: #fef;
}
.star {
  display: flex;
  font-size: 1.2rem;
}
.person {
  font-size: 0.85rem;
}

.card {
  padding: 1rem;
}
.card:nth-child(2n-1) {
  background-color: #eee;
}
.star_img {
  width: 24px;
  height: 24px;
}

.create {
  padding: 0 1rem;
  margin-bottom: 2rem;
}
.formTitle {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
form span {
  text-align: left;
  display: inline-block;
  width: 7rem;
}
form input[type="submit"] {
  margin-top: 0.5rem;
}
form input[name="age"] {
  width: 3rem;
  margin-right: 0.2rem;
}
form select {
  width: 3.5rem;
}
form textarea {
  width: 20rem;
  height: 3rem;
}

.edit {
  margin-top: 0.5rem;
}
.edit a {
  cursor: pointer;
  font-size: 0.8rem;
  background-color: #bbd;
  text-decoration-line: underline;
  text-underline-offset: 1.5px;
  padding: 0.2rem 0.5rem;
}
.edit a:hover {
  background-color: #bbf;
}
